.dock-outer {
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.dock-panel {
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 1rem;
  border-radius: 1rem;
  background-color: rgba(6, 0, 16, 0.8);
  border: 1px solid #222;
  padding: 0.5rem;
  z-index: 9999;
  pointer-events: all;
  backdrop-filter: blur(20px);
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(6, 0, 16, 0.9);
  border: 1px solid #222;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.dock-item:hover {
  transform: scale(1.1);
  border-color: rgba(138, 43, 226, 0.5);
  box-shadow:
    0 8px 12px -1px rgba(138, 43, 226, 0.3),
    0 4px 8px -1px rgba(0, 0, 0, 0.1);
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  left: calc(100% + 1rem);
  top: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid #222;
  background-color: rgba(6, 0, 16, 0.95);
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateY(-50%);
  pointer-events: none;
  backdrop-filter: blur(10px);
}