*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #aaa;
  --color-link-hover: #fff;
  --color-menu-item: #f0f0f0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-wrap {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.menu {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

.menu__item {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.menu__item-link {
  font-size: clamp(2rem, 8vw, 6rem);
  color: var(--color-menu-item);
  display: inline-block;
  pointer-events: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  line-height: 1;
}

.marquee__inner-wrap {
  width: fit-content;
  display: flex;
  position: relative;
  will-change: transform;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

.marquee__inner span {
  font-size: clamp(2rem, 8vw, 6rem);
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-menu-item);
  padding: 0 0.5vw;
}

.marquee__img {
  width: clamp(8rem, 15vw, 12rem);
  aspect-ratio: 1;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  margin: 0 1vw;
  flex: none;
}

/* Media queries */
@media screen and (max-width: 53em) {
  .menu {
    padding: 0 1rem;
  }
  
  .menu__item {
    padding: 1rem 0;
  }
  
  .marquee__inner span {
    padding: 0 1vw;
  }
}
